.jumbotron{
    color: white;
}
.card{
    width: 100%;
}
.section-label{
    background-color: lightgray;
    border-style: solid;
    border-color: ;
}
.search-form{
    width: 100%;
}
.input{
    width: 100%;
}

